<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcom.logservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name=".LogService">
            <intent-filter >
                <action android:name="com.qcom.logcommon.ILogService"/>
            </intent-filter>
        </service>
        
    </application>

</manifest>